body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: darkgoldenrod;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 0px;
}

h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: -15px;
}

.game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 25%;
    font-size: 100px;
    padding-left: 50px;
    padding-right: 50px;
    transition-duration: 100ms;
    box-shadow: 0px 0px 2px 2px darkgoldenrod;
    background-color: black;
    border-radius: 10%;
}

.buttons {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.game-button:hover {
    box-shadow: 0px 0px 5px 5px darkgoldenrod;
    transition-duration: 300ms;
}

.game-button:active {
    box-shadow: 0px 0px 10px 10px darkgoldenrod;
}

.inputs {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#round-count {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
}

#scoreboard {
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    animation-name: scoreborder;
    animation-duration: 500ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 0px 0px 20px 20px darkgoldenrod;
}

#scores {
    justify-content:space-evenly;
    align-items: center;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}

#player-score{
    margin-left: 25px;
}

#computer-score {
    margin-right: 25px;
}

@keyframes scoreborder {
    0% {
        box-shadow: 0px 0px 10px 10px darkgoldenrod;
    }

    100% {
        box-shadow: 0px 0px 15px 15px darkgoldenrod;
    } 
}